### Data Preparation

In [1]:
# Importing Packages

! pip install feature_engine

Collecting feature_engine
  Obtaining dependency information for feature_engine from https://files.pythonhosted.org/packages/62/60/77fcc9d3cfaabab34027aa8ea0025c5e2d4cf9561fa9725a38f0785b43aa/feature_engine-1.6.2-py2.py3-none-any.whl.metadata
  Downloading feature_engine-1.6.2-py2.py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy>=1.18.2 in c:\users\dms\anaconda3\lib\site-packages (from feature_engine) (1.24.3)
Requirement already satisfied: pandas>=1.0.3 in c:\users\dms\anaconda3\lib\site-packages (from feature_engine) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\dms\anaconda3\lib\site-packages (from feature_engine) (1.3.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\dms\anaconda3\lib\site-packages (from feature_engine) (1.11.1)
Requirement already satisfied: statsmodels>=0.11.1 in c:\users\dms\anaconda3\lib\site-packages (from feature_engine) (0.14.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dms\anaconda3\lib\site-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dms\anaconda3\lib\site-packages (from pandas>=1.0.3->feature_engine) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dms\anaconda3\lib\site-packages (from pandas>=1.0.3->feature_engine) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dms\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dms\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->feature_engine) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\dms\anaconda3\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\dms\anaconda3\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (23.1)
Requirement already satisfied: six in c:\users\dms\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels>=0.11.1->feature_engine) (1.16.0)
Downloading feature_engine-1.6.2-py2.py3-none-any.whl (328 kB)
   ---------------------------------------- 0.0/328.9 kB ? eta -:--:--
   --- ------------------------------------ 30.7/328.9 kB ? eta -:--:--
   --- ------------------------------------ 30.7/328.9 kB ? eta -:--:--
   --- ------------------------------------ 30.7/328.9 kB ? eta -:--:--
   ---- ---------------------------------- 41.0/328.9 kB 179.6 kB/s eta 0:00:02
   ------- ------------------------------- 61.4/328.9 kB 204.8 kB/s eta 0:00:02
   ------- ------------------------------- 61.4/328.9 kB 204.8 kB/s eta 0:00:02
   ---------- ---------------------------- 92.2/328.9 kB 249.8 kB/s eta 0:00:01
   ------------- ------------------------ 112.6/328.9 kB 298.5 kB/s eta 0:00:01
   ------------- ------------------------ 112.6/328.9 kB 298.5 kB/s eta 0:00:01
   ------------- ------------------------ 112.6/328.9 kB 298.5 kB/s eta 0:00:01
   ---------------------- --------------- 194.6/328.9 kB 328.0 kB/s eta 0:00:01
   --------------------------- ---------- 235.5/328.9 kB 389.8 kB/s eta 0:00:01
   --------------------------- ---------- 235.5/328.9 kB 389.8 kB/s eta 0:00:01
   ----------------------------- -------- 256.0/328.9 kB 342.3 kB/s eta 0:00:01
   ----------------------------- -------- 256.0/328.9 kB 342.3 kB/s eta 0:00:01
   -------------------------------------  327.7/328.9 kB 344.7 kB/s eta 0:00:01
   -------------------------------------- 328.9/328.9 kB 334.4 kB/s eta 0:00:00
Installing collected packages: feature_engine
Successfully installed feature_engine-1.6.2

In [2]:
# Importing Packages

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt
from datetime import datetime as dt2
from datetime import timedelta as td
from datetime import time as tm

from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE

import plotly.offline as pyoff
import plotly.graph_objs as go

import feature_engine
from feature_engine.outliers import Winsorizer

from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch
from sklearn.metrics import davies_bouldin_score

import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_excel('C:/Users/DMS/OneDrive/Desktop/Customer-Segmentation/Online Retail.xlsx')

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [7]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

- The min and max value for Quantity is 80995, this could represent cancelled or returned orders.
- The UnitPrice also have few negative values which is uncommon,these transactions could represent cancelled orders by customers or bad-debt incurred by the business.
- Bad debt adjustments will be dropped from the dataset as these do not represent actual sales. 
- We need to clean the above values by removing from the dataset.

In [8]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [9]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

There are almost 25% missing CustomerID. We need to remove them as there is no way we can get the number of CustomerID.

In [10]:
df.Country.value_counts(normalize=True)

Country
United Kingdom          0.914320
Germany                 0.017521
France                  0.015790
EIRE                    0.015124
Spain                   0.004674
Netherlands             0.004375
Belgium                 0.003818
Switzerland             0.003694
Portugal                0.002803
Australia               0.002323
Norway                  0.002004
Italy                   0.001482
Channel Islands         0.001399
Finland                 0.001283
Cyprus                  0.001148
Sweden                  0.000853
Unspecified             0.000823
Austria                 0.000740
Denmark                 0.000718
Japan                   0.000661
Poland                  0.000629
Israel                  0.000548
USA                     0.000537
Hong Kong               0.000531
Singapore               0.000423
Iceland                 0.000336
Canada                  0.000279
Greece                  0.000269
Malta                   0.000234
United Arab Emirates    0.000125
European Community      0.000113
RSA                     0.000107
Lebanon                 0.000083
Lithuania               0.000065
Brazil                  0.000059
Czech Republic          0.000055
Bahrain                 0.000035
Saudi Arabia            0.000018
Name: proportion, dtype: float64

We can see that there is maximum proportion (More than 90% of customers) of 'United Kingdom' customers. So we will take 'United Kingdom' customer for our analysis.

In [11]:
df = df[df.Country == 'United Kingdom']

Removing the negative values from Quantity and UnitPrice

In [12]:
# Quantity

df = df[df.Quantity > 0]

In [13]:
# InvoiceDate

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceYearMonth'] = df['InvoiceDate'].map(lambda date: 100*date.year + date.month)
df['Date'] = df['InvoiceDate'].dt.strftime('%Y-%m')

In [14]:
# timebound

print(df["InvoiceDate"].min())
print(df["InvoiceDate"].max())
print("The data is from 1 year transaction")

2010-12-01 08:26:00
2011-12-09 12:49:00
The data is from 1 year transaction

In [15]:
# UnitPrice

df = df[df.UnitPrice > 0]

Removing the Null values from the data.

In [16]:
# CustomerID

df = df[pd.notnull(df['CustomerID'])]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 354321 entries, 0 to 541893
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         354321 non-null  object
 1   StockCode         354321 non-null  object
 2   Description       354321 non-null  object
 3   Quantity          354321 non-null  int64
 4   InvoiceDate       354321 non-null  datetime64[ns]
 5   UnitPrice         354321 non-null  float64
 6   CustomerID        354321 non-null  float64
 7   Country           354321 non-null  object
 8   InvoiceYearMonth  354321 non-null  int64
 9   Date              354321 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 29.7+ MB